@font-face{
    font-family: "darksouls";
    src: url(OptimusPrinceps.ttf);
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    
    }
}



body{
    background-image:url('Malenia.jpg') ;
}

.Intro{
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
    border-width: 1px;
    font-family: "darksouls";
    font-size: large;
    text-align: center;
    color: rgb(248, 209, 196);
}




.calculadora{
    width: 430px;
    padding: 50px 30px;
  /*  position: absolute; */
    margin: auto;
   /* transform: translate(-50%, -50%);*/
    background-color: rgba(255, 127, 80,0.9);
    /*  top: 50%;
    left: 50%;
*/    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}


#pantalla{
    
    width: 380px;
    height: 50px;
    padding: 15px 10px;
    margin: auto;
    text-align: right;
    border-radius: 20px;
    background-color: rgba(252, 218, 218, 0.7);
    color: rgba(188, 62, 39, 0.9);
    font-size: 35px;
}



.botones{
    width: 100%;
    height: 350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,97.7px);
    grid-gap: 3px;
    font-size: 20px;
    padding: 17px;
    
}

.numero{
    font-size: 20px;
    background-color:rgba(188, 62, 39, 0.9);
    border-radius: 10px;
    border-color: rgba(188, 62, 39, 0.9);
    box-shadow: 0 0 1px 1px rgba(188, 62, 39, 0.9);
    cursor: pointer;
}

.operador{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
    cursor: pointer;
}

#borrar{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
    cursor: pointer;
}
#clear{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
    cursor: pointer;
}
#answer{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
    cursor: pointer;
}
#igual{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
    cursor: pointer;
}

.chat-button{
    height: 60px;
    width: 60px;
    border-radius: 60px;
    background: url(eldenlogo.png);
    background-color: coral;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.2);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30px;
    right: 30px;
}





