@font-face{
    font-family: "darksouls";
    src: url(OptimusPrinceps.ttf);
}

body{
    background-image:url('Malenia.jpg') ;
}

.Intro{
    padding-top: 10px;
    padding-left: 5px;
    border-radius: 10px;
    border-width: 1px;
    font-family: "darksouls";
    font-size: large;
    text-align: center;
    color: rgb(248, 209, 196);
}




.calculadora{
    width: 400 px;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 127, 80,0.9);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
}

#pantalla{
    max-width: 100%;
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border-radius: 20px;
    background-color: transparent;
    color: #ffffff;
    font-size: 35px;
}



.botones{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(6,97.7px);
    grid-gap: 3px;
    font-size: 20px;
    padding: 17px;
    
}

.numero{
    font-size: 20px;
    background-color:rgba(188, 62, 39, 0.9);
    border-radius: 10px;
    border-color: rgba(188, 62, 39, 0.9);
    box-shadow: 0 0 1px 1px rgba(188, 62, 39, 0.9);
}

.operador{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
}

#borrar{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
}
#clear{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
}
#answer{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
}
#igual{
    background-color: rgba(255,142,81,0.9);
    border-radius: 10px;
    border-color: rgba(255,142,81,1);
    box-shadow: 0 0 1px 1px rgba(255,142,81,1);
    font-size: 20px;
}
