@font-face{
    font-family: "nier";
    src: url("ITC\ Benguiat\ Book.ttf");
}
body {
    background-image: url('Nerv_back.jpg');
}

.Asukacv{
    border:solid aquamarine;
    max-width: 100%;
    height: auto;
}

.Asukajoker{
    margin-right: 400px;
    border:solid aquamarine;
    max-width: 100%;
    height: auto;
}

.Asukapium{
    margin-left: 400px;
    border:solid aquamarine;
    max-width: 100%;
    height: auto;
}

h1 {
    color: aquamarine;
    font-family: "nier";
    
}



.sobremi {
    color: aquamarine;
    font-family: "nier";
    font-size: large;
    padding-left: 1%;
    
   
}
p {
    color: aquamarine;
    font-family: "nier";
    font-size: large;
   
}

.Nombre{
    text-decoration-line: underline;
    font-size:xx-large;
    
}


.asukabetis{
    padding-bottom: 2%;
    margin-left: 5%;
}



.title {
    color: aquamarine;
    font-size: large;
    font-family: "nier";
    margin-left: 1%;
    text-decoration-line: underline;
}

.lista {
    color: aquamarine;
    font-size: large;
    
}

.estudios{
    list-style: none;
}

left{
    border-radius: 10px;
    width: 40%;
    border:solid aquamarine;
    float: left;
    margin-left: 1%;

}
rigth{
    text-align: center;
    border-radius: 10px;
    width: 55%;
    border: solid aquamarine;
    float: right;
    margin-right: 2%;

}
button{
    margin-left: 2%;
}
