@font-face{
    font-family: "nier";
    src: url("ITC\ Benguiat\ Book.ttf");
}
body {
    background-image: url('Nerv_back.jpg');
}

.Asukacv{
    border:solid aquamarine;
}

.Asukajoker{
    margin-right: 400px;
    border:solid aquamarine;
}

.Asukapium{
    margin-left: 400px;
    border:solid aquamarine;
}

h1 {
    color: aquamarine;
    font-family: "nier";
    
}
p1 {
    color: aquamarine;
    font-family: "nier";
    font-size: large;
    text-align: center;
   
}
p {
    color: aquamarine;
    font-family: "nier";
    font-size: large;
   
}

.title {
    color: aquamarine;
    font-size: large;
    font-family: "nier";
}

.lista {
    color: aquamarine;
}
left{
    border-radius: 20px;
    width: 35%;
    border:solid aquamarine;
    float: left;
    margin-bottom: 2%;
}
rigth{
    text-align: center;
    border-radius: 20px;
    width: 55%;
    border: solid aquamarine;
    float: right;
    margin-right: 5%;

}