@font-face{
    font-family: "kingdom";
    src: url(ITC\ Benguiat\ Book.ttf);
    font-family: "hearts";
    src: url(Kingdom_Hearts_Font.ttf);
}

.iresponsive {
    padding: 0 6px;
    float: left;
    width: 50%;
  }

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
        width: 100%;
    
    }
} 

body{
    background-image:url('kingdom.png') ;
}
#canvas{
    background-color: rgba(209, 82, 116, 0.8);
    border: solid;
    border-color: rgba(209, 82, 116, 0.9);;
    margin: 10% 33%;
    position: relative;
}
#repetir {
    margin-top: 10px;
    margin-left: 800px;
    position: relative;
    font-family: "kingdom";
    font-size: 35px;
    background-color: aqua;

}

#tit{
    font-family: "hearts";
    color: blue;
    font-size: 35px;
    margin-left: 36%;
}
#sora{
    margin-left: 25%;
    position: relative;
}
#logo{
    margin-left: 15%;
}

#perder {
    margin-left: 640px;
    margin-top: 170px;
}

#ganar {
    margin-left: 640px;
    margin-top: 170px;
}

#ganado {
    font-family: 'kingdom';
    margin-left: 700px;
    margin-top: 20px;
    font-size: 80px;
    color: white;
}


.btn{
    cursor: pointer;
    font-size: 100%;
    border: 0;
    padding: 10px 20px;
    background: rgb(241,119,87);
    color: rgb(7, 7, 7);
    border-radius: 5px;
    font-family: 'kingdom';
}

.btn:focus{
    outline: 0;
}

.btn:hover{
    background: #222;
}

.btn:active{
    transform: scale(0.98);
}

.rules-btn{
    position: absolute;
    top: 30px;
    left: 30px;
    
}

.rules{
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(88,61,121, 1);
    color: rgb(255, 255, 255);
    min-height: 100vh;
    max-width: 100%;
    width: 400px;
    padding: 2px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.rules.show{
    transform: translateX(0);
}
#title{
    font-family: 'kingdom';
    margin-left: 5px;
}
#lista{
    font-family: 'kingdom';
}
#close-btn{
    margin-left: 5px;
}