body{
    background-image:url('fondo.jpg');
}

#derecha{
    float: right;
    text-align: center;
    margin-right: 2%;
    
}

#izquierda{
    float: left;
    text-align: center;
    margin-left: 2%;
}

#fieldset{
    margin-right: 40%;
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 5px;
    border: solid white;
    background-color: rgba(156,197,223,0.9);
    
}

#legend{
    border-radius: 5px;
    border: solid white;
    margin-left: 50px;
    text-align: center;
    background-color: rgba(156,197,223,0.9);
    
}

#imgagesrc{
    margin-right: 40%;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 50px;
    border: solid white;
}
